/* Apply styles to the entire header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black; /* Black background for the header */
    padding: 10px 20px; /* Adjust padding to control spacing */
    color: white; /* Text color */
}

/* Style the logo image */
.logo {
    width: 80;
    height: 80px; /* Adjust the height as needed */

}
.text{
    width: 500px;
    border-radius: 50px;
background-color: #000000;
}
.body{
    background-color: #000000;
    color: white;
    flex-wrap: wrap;
}
.border{
    border-radius: 0px;
    background-color: #000000;
    color: white;
    border-color: white;
}
.img{
    width: 30px;
    background-color: #000000;
}
.pic{
    width: 310px;
    height: 420px;
    margin: 20px;
    justify-content: space-between;
    
}
.button{
margin: 10px;
}
.underline{
    background-color: #000000;
    color: white;
}
.pict{
    width: 310px;
    height: 420px;
}
.b{
    border: 10px;
    background-color: blue;
    color: white;
}
.paragraph{
    margin: 20px;
}
.para{
   margin:50px; 
}
.pis{
    width: 200px;
    height: 300px;
    margin: 50px;
}
.A{
    flex-direction: column;
}
.lina{
     height: 1px;
     background-color: white;
}
.linb{
    height: 2px;
    background-color: white;
}
.linc{
    height: 3px;
    background-color: white;
}
.lind{
    height: 4px;
    background-color: white;
}
.line{
    height: 5px;
    background-color: white;
}
.linf{
    height: 6px;
    background-color: white;
}
.ling{
    height: 7px;
    background-color: white;
}
.linh{
    height: 8px;
    background-color: white;
}
.lini{
    height: 9px;
    background-color: white;
}
.linj{
    height: 10px;
    background-color: white;
}
.link{
    height: 11px;
    background-color: white;
}
.linl{
    height: 12px;
    background-color: white;
}
.linm{
    height: 13px;
    background-color: white;
}
.linn{
    height: 15px;
    background-color: white;
}
.lino{
    height: 15px;
    background-color: white;
}
.linp{
    height: 16px;
    background-color: white;
}
.linq{
    height: 17px;
    background-color: white;
}
.linr{
    height: 18px;
    background-color: white;
}
.lins{
    height: 19px;
    background-color: white;
}
.lint{
    height: 20px;
    background-color: white;
}
.linu{
    height: 21px;
    background-color: white;
}
.linv{
    height: 22px;
    background-color: white;
}
.linaw {
    height: 24px;
    background-color: white;
}



